.scoreCard {
    width: 45%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  }

  .centered {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
    
  .separator {
    width: 10%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  }
  
  .centered {
    text-align: center;
  }
  
  .scoreCard .score {
    font-weight: bold;
  }
  
  .score {
    font-size: 600%;
  }
  
  .blue {
    color: #0000DD
  }
  
  .red {
    color : #DD0000
  }
  
  .paddedTop {
    padding-top: 20px;
  }
  