<form #playerForm="ngForm" (ngSubmit)="accept.emit()">

  <mat-form-field>
    <input matInput placeholder="First name" [(ngModel)]="player.firstName" name="firstName" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name" [(ngModel)]="player.lastName" name="lastName" required>
  </mat-form-field>

  <button mat-button
          type="reset"
          (click)="cancel.emit()">Cancel</button>

  <button mat-button
          type="submit"
          color="primary"
          [disabled]="!playerForm.form.valid">Save</button>

</form>
