<mat-card>

  <mat-card-title>Add player</mat-card-title>

  <mat-card-content>

    <app-players-form [player]="player"
                      (accept)="save()"
                      (cancel)="navigateBack()"
    ></app-players-form>

  </mat-card-content>

</mat-card>
