<h1 class="centered">Current Score</h1>

<div>
  <div class="scoreCard red">
    <h2>Team Red</h2>
  </div>
  <div class="separator">
  </div>
  <div class="scoreCard blue">
    <h2>Team Blue</h2>
  </div>
</div>

<div>
  <div class="scoreCard score">
    {{getScore((currentMatch$ | async), 'scoreRed')}}
  </div>
  <div class="separator score">
    :
  </div>
  <div class="scoreCard score">
    {{getScore((currentMatch$ | async), 'scoreBlue')}}
  </div>
</div>

<!-- TODO make this adapt without refreshing-->
<!--<h1 class="centered">Game-Time</h1>-->
<!--<h2 class="centered">{{getGameTime(currentMatch$ | async)}}</h2>-->

<div
  *ngIf="!(currentMatch$ | async)"
  class="centered paddedTop"
>
  Currently, no match is running. Please start one by pressing one of the buttons for a few seconds.
</div>
